{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'about.css' %}" type="text/css">
{% endblock %}


{% block content %}
<div class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">보완대체의사소통이란?</h2>
            <div class="section-subheading center">Augmentative and Alterative Communication</div>
        </div>
        <div class="section-subheading center">
            보완대체의사소통은 말과 언어의 표현 및 이해에 심각한 장애를 보이는 사람들에게 의사소통할 수 있는 기회를 주고, 
            의사소통능력을 향상시키고 촉진하도록 말을 보완하거나 대체적인 방법을 사용하는 것을 말한다.
        </div>
        <img src="/static/image/examples.png" width="70%" alt="examples" style="margin-top:60px;">
        <div>보완대체의사소통의 정의와 종류<br>김영태 (2014). 말-언어장애 아동을 위한 보완대체 의사소통(AAC) 활용을 위한 탐색. 보완대체의사소통연구, 2(1), 1-22</div>
        
    </div>
</div>
<div class="section accent wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered white">AAC 적용 효과</h2>
            <div class="section-subheading center off-white">AAC를 활용한 중재와 의사소통이 실제로 효과가 있을까?</div>
        </div>
        <br>
        <br>
        <br>
        <div class="section-subheading center off-white">
            중증뇌성마비 학생의 의사소통 기능의 다양성과 의사소통 역할의 주도성 증가<br>
            뇌성마비 고등학생의 수업 중 의사소통 행동기능의 다양화<br>
        </div>
        <div style="text-align: right; color: white;">한경임, 정명철 (2014)에서 재인용</div>
        <br>
        <br>
        <br>
        <div class="section-subheading center off-white">
            
            중도 자폐범주성장애 학생과 통합학급에 음성산출 도구 '마이토키'가 효과적임을 확인
        </div>
        <div style="text-align: right; color: white;">한경임 외 (2014)에서 재인용</div>
        <br>
        <br>
        <br>
        <div class="section-subheading center off-white">
            많은 연구에서 연령이나 중증도에 상관없이 의사소통에 어려움을 가진 대상자들에게 적절한 AAC 중재를 제공하였을 때 
            대상자의 의사소통 능력이 향상되고 삶의 질이 나아짐
        </div>
        <div style="text-align: right; color: white; margin-bottom: 60px;">신정미, 이수향 (2016)에서 재인용</div>
    </div>
</div>
<!-- 사용 현황 -->
<div class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">사용 현황</h2>
            <div class="section-subheading center">우리나라의 AAC 사용 현황</div>
        </div>
        <div class="section-subheading center">
            특수학교 학생의 경우, 2013년 연구에서 AAC 사용 학생 수는 58.98%
        </div>
        <div style="text-align: right;">한경임 외 (2014)</div>
        <br>
        <br>
        <div class="section-subheading center">
            뇌병변 장애인을 대상으로 조사한 결과, 40.8%가 의사소통 문제를 겪고 있음<br>
            AAC를 알고 있는 대상자는 14.2%<br>
            AAC를 실제로 사용하고 있는 대상자는 1.3%<br>
        </div>
        <div style="text-align: right;">신정미, 이수향 (2016)</div>
        <br>
        <br>
        <div class="section-subheading center">
            실어증 환자를 대상으로 중재를 하고 있는 언어재활사 72명에게 설문조사한 결과<br>
            AAC를 활용한 중재 경험이 있는 비율은 9.7%에 불과
        </div>
        <div style="text-align: right;">강민구 (2018)</div>
        
    </div>

</div>
{% endblock %}