{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'community.css' %}" type="text/css">
{% endblock %}


{% block content %}
<div class="section wf-section">
    <div class="w-container">
        
        <div class="section-title-group" style='margin-top: 30px;'>
            <h2 class="section-heading centered">AAC 관련 소프트웨어 개발 활성화</h2>
            <div class="section-subheading center">소프트웨어 개발의 필요성을 언급한 선행 연구</div>
        </div>
        
        <div class="w-row">
            <div class="section-subheading" style="font-size: larger;">
                국내에서는 하드웨어에 치중한 연구들이 많고 콘텐츠에 대한 체계적인 연구가 미흡하다.
                <br><br><br>
                학령기 학생들을 대상으로 개발된 기기가 대부분이라서 성인기 재활을 지원할 수 없다.
                <br><br><br>
                국외에서는 다양한 환경에서 접근할 수 있는 프로그램들이 개발되고 있고 사용자의 개별 특성에 맞춰서 적용할 수 있도록 다양한 기업에서 개발하고 있다.
                또한 PC, 스마트폰, 태블릿 등에서 접근할 수 있는 형태의 보급이 증가하고 있다. 
                <br><br><br>
                AAC 기기 외에 소프트웨어 형태의 기술 개발이 필요하다.
                <br>
            </div>
            <div style="text-align: right;">김정연, 박은혜, 김경양 (2010)</div>
            
            <h3 class="section-heading centered" style="margin-top: 150px;">하이테크 AAC 기기의 가격</h3>
            <img src="/static/image/price.png" width="100%" alt="examples" style="margin-bottom:30px;">
            <div class="section-subheading">
                여러 연구에서 자주 언급되는 마이토키와 키즈보이스<br>
                AAC 상징과 기능의 완성도, 중재 효과를 고려하더라도 기기의 사양에 비해 가격이 터무니없이 비싸다
            </div>
            <br>
            <br>
    
            
        </div>
        
    </div>
</div>
<div class="section accent wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered white">따라서 소프트웨어 개발 인력의 유입이 필요함</h2>
            <div class="section-subheading center off-white">웹 / 앱 기반 AAC 도구 개발 활성화 방안</div>
        </div>
        
        <div class="w-row">
            <div  style='align-items: center;'>
                <div class="white-box transparent">
                    <img src="/static/image/kakao.png" width="70%" alt="documentation" style="margin-bottom:30px;">
                    <h3 class="white-text">AAC 소프트웨어 개발 문서화</h3>
                    <br>
                    <p style="font-size: larger;" class="white-text">&nbsp;AAC 연구자나 언어재활사 이외에도 AAC 연구와 개발에 참여할 수 있도록 AAC 개발의 문턱을 낮춰야 함.</p>
                    
                    <p style="font-size: larger;" class="white-text">&nbsp;AAC 전문가가 연구해야 할 부분이 많지만 다른 영역에 있는 사람들도 참신한 아이디어를 제공할 수 있음.</p>

                    <p style="font-size: larger;" class="white-text">&nbsp;많은 사람들이 AAC 개발에 참여할 수 있도록 축적된 연구 내용을 정리하고 개발에 필요한 요소들을 문서화하기.</p>
                    <p class="white-text" style="margin-bottom: 60px;">&nbsp;상징체계, 어휘 선택, 권장하는 인터페이스 또는 디자인, 각 장애유형별로 고려해야 할 사항, API 활용 정보(위치정보, TTS) 등<br>
                    + 이주형, 홍기형(2021)에서는 보완대체의사소통 정보 호환을 위한 데이터베이스를 제시하기도 했음.</p>
                    <!-- <a href="#" class="hollow-button">Learn more</a> -->
                    <p style="font-size: larger;" class="white-text">개발 문서의 예시</p>
                    <a href="https://docs.python.org/ko/3/" style='text-decoration: none; color: skyblue;'>파이썬 공식 문서</a><br>
                    <a href="https://developers.kakao.com/docs" style='text-decoration: none; color: skyblue;'>내 웹사이트에 카카오맵을 넣고싶으면?</a><br>
                    <a href="https://developers.google.cn/youtube/iframe_api_reference?hl=ko" style='text-decoration: none; color: skyblue;'>내 웹사이트에 유튜브 영상을 넣고싶으면?</a>
                </div>
            </div>

        </div>
        <div class="w-row" style="margin-top: 150px;">
            <div  style='align-items: center;'>
                <div class="white-box transparent">
                    <img src="/static/image/hackathon.jpg" width="70%" alt="documentation">
                    <p class="white-text" style="margin-bottom: 30px;">현대자동차 주최 해커톤 행사(한국일보 2016년 8월 22일)</p>
                    <h3 class="white-text">AAC를 주제로 한 공모전, 해커톤 개최</h3>
                    
                    <br>
                    <p style="font-size: larger;" class="white-text">&nbsp;한국보완대체의사소통학회에서 매년 AAC 공모전을 열고 있지만 많은 사람들이 관심을 가지기 힘듦.</p>
                    <p style="font-size: larger;" class="white-text">&nbsp;현업에서 일하는 개발자 또는 개발 공부를 하고 있는 대학생들이 AAC에 관심을 가질 수 있도록 유도.</p>
                    
                    <p style="font-size: larger;" class="white-text">&nbsp;앞선 연구들에서 AAC에 대한 인식 개선과 홍보가 필요하고 정부 차원의 재정적 지원을 촉구했는데
                        <br>이에 대한 구체적이고 현실적인 방안이 될 수 있음.</p>
                </div>
            </div>

        </div>
    </div>
</div>    
{% endblock %}
