{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'conclusion.css' %}" type="text/css">
{% endblock %}


{% block content %}
<div class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">AAC 연구는 학제적 성격을 지니고 있다</h2>
        </div>
        
        <div class="w-row">
            <div class="section-subheading center">언어재활사, 특수교사, 사용자, 사용자의 가족, 연구자, 개발자, 보조공학사 등</div><br>
            <div class="section-subheading center">여러 분야의 협업이 필수적인 분야</div><br>
            <div class="section-subheading center">따라서 AAC 개발의 문턱을 낮추고 많은 사람들이 연구, 개발에 참여할 수 있도록 해야한다.</div><br>
            
        </div>
        
    </div>
</div>

{% endblock %}