{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
{% endblock %}


<!-- 발표용 메인 페이지 -->
{% block content %}
    <div class="hero-section centered wf-section">
        <div data-w-id="e464d218-f801-55d1-1f50-7da00b5bfb8f" style="opacity:0" class="w-container">
            <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading"><strong>당신의 의사소통을 도와주는 <br/> AAC FRIEND입니다.</strong></h1>
            <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">AAC FRIEND는 사용자와 그 가족, 언어재활사, 도구 개발자, 연구자 등 모두에게 열린 공간입니다.</div>
            <!-- <div data-ix="fade-in-bottom-page-loads">
                <a href="#" class="button">회원가입</a>
                <a href="{% url 'login' %}" class="hollow-button all-caps">로그인 </a>
            </div> -->
        </div>
    </div>
    <div class="section wf-section">
        <div class="w-container">
            <div class="section-title-group">
                <h2 class="section-heading centered">웹사이트 제작</h2>
                <div class="section-subheading center">이 사이트는 언어학특강 발표용으로 제작되었습니다.</div>
            </div>
            <div class="w-row">
                <div class="w-col w-col-4">
                    <div data-w-id="270e8437-efa3-df11-d438-de69b23e41e9" style="opacity:0" class="white-box">
                        <img src="/static/image/htmlcssjs_logo.png" width="210" alt="html, css, js logo">
                        <h3>Front-end</h3>
                        <p style="font-size: larger;">&nbsp;사용자의 눈에 보이는 디자인이나 인터페이스 영역<br><br>
                            사용자의 입력을 서버로 보내주는 역할<br>
                        </p>
                    </div>
                </div>
                <div class="w-col w-col-4"><div data-w-id="29c25774-570b-ddb2-69b5-f4ddbb194afd" style="opacity:0" class="white-box">
                    <img src="/static/image/django.png" width="210" alt="django logo">
                    <h3>Back-end</h3>
                    <p style="font-size: larger;">사용자의 요청을 서버에서 받는 역할로 기능 구현이나 데이터베이스 관리를 포함<br><br>
                        인스타그램은 'django'로 구축한 <br>대표적인 웹사이트
                    </p>
                </div>
            </div>
                <div class="w-col w-col-4">
                    <div data-w-id="49e69b8a-ef40-4d84-1f92-d2617143b8db" style="opacity:0" class="white-box">
                        <img src="/static/image/aws.png" width="210" height="210" alt="amazon web service">
                        <h3>Web Server</h3>
                        <p style="font-size: larger;">
                            &nbsp;다른 사용자들이 인터넷에서 이 웹사이트로 접속할 수 있게 웹 서버를 구축하는 과정이 필요함<br><br>
                            AWS는 웹 서버 구축을 도와주는 <br>아마존의 클라우드 컴퓨팅 서비스
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 이 웹사이트를 제작한 이유 + 주제 제시 -->
    <div class="section accent wf-section">
        <div class="w-container">
            <div class="section-title-group">
                <h2 class="section-heading centered white">research topic</h2>
                <div class="section-subheading center off-white">보완대체의사소통(AAC)에 대한 인식 제고 - AAC 정보 접근성 향상과 웹/앱 개발 활성화를 중심으로 - </div>
            </div>
            
            <div class="w-row">
                <div class="w-col w-col-6">
                    <div class="white-box transparent">
                        <img src="/static/image/info.jpg" width="400" alt="info image" style="margin-bottom:30px;">
                        <h3 class="white-text">정보 접근성 향상</h3>
                        <p style="font-size: larger; text-align: left;" class="white-text">&nbsp;본 연구에서의 정보 접근성 향상은 AAC 사용자, 보호자, 언어재활사, 특수교사를 대상으로 하는 것이 아니라 다른 분야의 전문가들을 대상으로 한다.</p>
                        <!-- <a href="#" class="hollow-button">Learn more</a> -->
                    </div>
                </div>
                <div class="w-col w-col-6">
                    <div class="white-box transparent">
                        <img src="/static/image/app.jpg" width="400" height="232" alt="app image" style="margin-bottom:30px;">
                        <h3 class="white-text">웹 / 앱 개발 활성화</h3>
                        <p style="font-size: larger; text-align: left;" class="white-text">&nbsp;기존 AAC 도구들은 가격이 비싸고, 여러 장애 유형이나 개인의 특성을 고려하지 않는 경우가 많았다. 또한 개인이 선택할 수 있는 도구의 종류가 다양하지 않다. 이러한 문제를 해결하기 위해서 웹 / 앱 개발의 활성화가 필요하다.</p>
                        <!-- <a href="#" class="hollow-button all-caps">Learn more</a> -->
                    </div>
                </div>
            </div>
            <div class="tab-menu w-tab-menu" style="margin-top: 60px;">
                <a data-w-tab="Tab 1" class="button tab w-inline-block w-tab-link">
                    <div>보완대체의사소통(AAC)</div>
                </a>
                <a data-w-tab="Tab 2" class="button tab w-inline-block w-tab-link">
                    <div>정보 접근성</div>
                </a>
                <a data-w-tab="Tab 3" class="button tab w-inline-block w-tab-link">
                    <div>웹/앱 개발</div>
                </a>
            </div>
        </div>
    </div>
   
{% endblock %}