{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'resources.css' %}" type="text/css">
{% endblock %}


{% block content %}
<div class="section wf-section">
    <div class="w-container">
        <div class="section-title-group">
            <h2 class="section-heading centered">AAC 활용에 대한 요구</h2>
            <div class="section-subheading center">AAC에 대한 인식을 조사한 여러 연구들에서</div>
        </div>
        
        <div class="w-row">
            <div class="section-subheading">
                <p style="font-size: larger;">『특수학교 교사들을 대상으로 AAC 사용에 대한 인식 연구』</p><br><br>
                AAC 자료 제작 및 프로그램 개발을 위한 행정적, 재정적 지원<br>
                도구 구입을 위한 재정적 지원 확대<br>
                AAC 전담 교사 확보<br>
                학급 당 학생 수 감소 방안<br>
                학생의 개별 특성을 반영한 다양한 AAC 도구 개발에 대한 정부의 재정적 지원 확대 제안
            </div>
            <div style="text-align: right;">한경임 외 (2014)</div>
            <br>
            <br>
            <div class="section-subheading">
                <p style="font-size: larger;">『실어증 환자를 중재하는 언어재활사의 AAC 활용에 대한 인식 연구』</p><br><br>
                실어증 환자를 대상으로 AAC 활용을 위한 자료, 교구의 부족으로 인해 AAC 중재가 어려움<br>
                AAC 활용과 관련된 세미나, 워크샵의 개최<br>
                실어증 환자를 대상으로 AAC의 활용과 관련된 다양한 교재, 교구의 개발 요구<br>
            </div>
            <div style="text-align: right;">강민구 (2018)</div>
            <br>
            <br>
            <div class="section-subheading">
                <p style="font-size: larger;">『AAC 중재 서비스에 대한 뇌병변 성인의 요구 분석』</p><br><br>
                AAC 도구를 지원해주는 의사소통지원센터를 설립하여 통합적인 시스템이 이루어져야 함<br>
                사용자 중심의 디자인과 기능이 구현되고 궁극적으로는 저비용으로 AAC 도구를 구입할 수 있어야 함 등을 제시
            </div>
            <div style="text-align: right;">임명순 (2018)</div>
            <br>
            <br>
        </div>
        <div class="section wf-section">
            <div class="w-container">
                <div class="section-title-group">
                    <h2 class="section-heading centered">연구의 필요성</h2>
                    <div class="section-subheading center">이러한 문제점들을 해결해야함</div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div data-w-id="270e8437-efa3-df11-d438-de69b23e41e9" style="opacity:0" class="white-box">
                            
                            <h3>비용 문제</h3>
                            <p style="font-size: larger; text-align: left;">&nbsp;지금 시중에 있는 AAC 도구들은 너무 비싸다.<br><br>
                                
                            </p>
                        </div>
                    </div>
                    <div class="w-col w-col-4"><div data-w-id="29c25774-570b-ddb2-69b5-f4ddbb194afd" style="opacity:0" class="white-box">
                        
                        <h3>개별 사용자의 특성</h3>
                        <p style="font-size: larger; text-align: left;">
                            &nbsp;학교, 가정, 공공장소 등 상황에 맞는 상징을 제시해야하고 사용자의 연령과 
                            성향, 중증도를 고려하여 디자인과 기능을 구현해야 한다.
                        </p>
                    </div>
                </div>
                    <div class="w-col w-col-4">
                        <div data-w-id="49e69b8a-ef40-4d84-1f92-d2617143b8db" style="opacity:0" class="white-box">
                            
                            <h3>사용 편의성</h3>
                            <p style="font-size: larger; text-align: left;">
                                &nbsp;시공간적 제약을 최소화하는 도구가 필요하다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}